{% extends "base.html" %}

{% block content %}
    <h1>Current Board Game Collection Info</h1>
    {% for game in games %}
    <li>{{ game }}</li>
    {% endfor %}
    <h1>Select by Game</h1>
<!--   <form action ='/gamesearch'>
        <select name ='game_name' id = 'game_name'>
            {% for game in games %}
            <option value ={{game}} name = {{game}}>{{ game }}</option>
            {% endfor %}
        </select>
        <input type='submit'>
    </form>
-->
    <form action = '' method = 'post' name=gamelist id=gamelist novalidate>
        {{form.hidden_tag()}}

        <div>
            {{ form.game_select.label }}
            <br>
            {{ form.game_select }}
            <br>
            {{ form.submit }}
        </div>

{% endblock %}