{% extends "base.html" %}

{% block content %}
    <h1>Current Board Game Collection Info</h1>
    <h3>Select by Game</h3>
    <form action = '' method = 'post' name=gamelist id=gamelist novalidate>
        {{gameform.hidden_tag()}}

        <div>
            {{ gameform.game_select.label }}
            <br>
            {{ gameform.game_select }}
            {{ gameform.submit }}
            <br>
        </div>
        <br><br>
    <h3>Search by Player Count<h3>
    <form action = '' method = 'post' name=playerform id=playerform novalidate>
        {{playerform.hidden_tag()}}
        <div>

            {{playerform.player_count.label}}
            {{playerform.player_count}}
            {% for error in playerform.player_count.errors %}
            <br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br><br>
            {{playerform.must_be_new.label}}
            {{playerform.must_be_new}}
            {% for error in playerform.must_be_new.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            {{playerform.submit}}
        </div>


{% endblock %}
<!--   Needs to actually connect the search functions. Also currently doesn't have a validation schema, whichs seems required.
-->
