{% extends "base.html" %}

{% block content %}
    <h1>Current Board Game Collection Info</h1>
    <h3>Select by Game</h3>
    <form action = '' method = 'post' name=gamelist id=gamelist novalidate>
        {{gameform.hidden_tag()}}

        <div>
            {{ gameform.game_select.label }}
            <br>
            {{ gameform.game_select }}
            {{ gameform.submit }}
        </div>

{% endblock %}
<!--   <form action ='/gamesearch'>
        <select name ='game_name' id = 'game_name'>
            {% for game in games %}
            <option value ={{game}} name = {{game}}>{{ game }}</option>
            {% endfor %}
        </select>
        <input type='submit'>
    </form>
-->
